@model ResRev
@{
    ViewData["Title"] = "Resume";
    var imageName = ViewData["ImageName"];
}

@{ Layout = "~/Views/Shared/_ViewLayout.cshtml"; }

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="flip-card">
    <div class="flip-card-inner">
        <figure class="front">
            <img src="@Model.Resume.Uri" alt="Resume Loading"/>
        </figure>
        <figure class="back">
            <form method="post" class="m-1">
                <div class="form-group">
                    <label asp-for="@Model.Review.Review">Please Review the Resume :</label>
                    <textarea asp-for="@Model.Review.Review" type="text" style="width: 300px; height: 100px; overflow-wrap: break-word;"></textarea>
                </div>
                <input asp-controller="Home" asp-action="Submit" asp-route-ResumeId="@Model.Resume.ResumeId" class="btn btn-primary" type="submit" value="Submit" />
            </form>
        </figure>
    </div>
</div>

<script>
    setTimeout(myFunction, 10000);
    function myFunction() {
        var card = document.querySelector('.flip-card-inner');
        card.classList.toggle('is-flipped');
        console.log("Flipped");
    }
</script>